# NYC Property Sales

<img src = "https://cdn.vox-cdn.com/thumbor/M2rjDALxvNDv3yqeYuIdL3spabo=/0x0:2000x1333/1200x675/filters:focal(840x507:1160x827)/cdn.vox-cdn.com/uploads/chorus_image/image/65939918/171109_08_11_37_5DS_0545__1_.0.jpg"  align = "center">

### Diccionario de datos

- Código_ciudad: variable que codifica la ciudad del inmueble:
  - Mahattan = 1 
  - Bronx = 2
  - Brooklyn = 3
  - Queens = 4
  - Staten Island = 5
- Bloque y lote: combinados forman un indicador único empleado en NYC, conocido también como BBL
- Categoría actual y a la venta: describe el uso constructivo del inmueble. La segunda parte del código proporciona informacion adicional acerca del estilo de construccion:
  - A: vivienda unifamiliar. 
  - O: oficinas.
  - R: condominios.

In [2]:
# Librerias que se utilizan 

import numpy as np # arrays
import pandas as pd # dataframes
import matplotlib.pyplot as plt # visualizaciones basicas
import seaborn as sns # visualizaciones algo mas elaboradas

In [3]:
# NYC sales
nyc = pd.read_csv("./data/01_raw/nyc-rolling-sales.csv", encoding = "latin-1")

In [4]:
nyc.columns = map(str.lower, nyc.columns) # a minusculas los nombres de las columnas 
# cambio el nombre de las columnnas con diccionario

In [6]:
nyc

,sin_nombre,codigo_ciudad,barrio,categoria_inmueble,tipo_impuesto_actual,bloque,lot,ease-ment,categoria_actual,address,...,unidades_residenciales,unidades_comerciales,total_unidades,terreno_metros_cuadrados,superficie_total,fecha_construccion,impuesto_al_vender,categoria_al_vender,precio_venta,fecha_venta
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84543,8409,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,,B9,37 QUAIL LANE,...,2,0,2,2400,2575,1998,1,B9,450000,2016-11-28 00:00:00
84544,8410,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,,B9,32 PHEASANT LANE,...,2,0,2,2498,2377,1998,1,B9,550000,2017-04-21 00:00:00
84545,8411,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,...,2,0,2,4000,1496,1925,1,B2,460000,2017-07-05 00:00:00
84546,8412,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,...,0,7,7,208033,64117,2001,4,K6,11693337,2016-12-21 00:00:00
84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,...,0,1,1,10796,2400,2006,4,P9,69300,2016-10-27 00:00:00

In [10]:
nyc = nyc.rename(columns = {"unnamed: 0": "sin_nombre",
                     "borough": "codigo_ciudad",
                     "neighborhood": "barrio", 
                     "building class category": "categoria_inmueble",
                     "tax class at present": "tipo_impuesto_actual",
                     "block": "bloque",
                     "building class at present": "categoria_actual",
                     "adress": "direccion",
                     "apartament number": "numero",
                     "zip code": "codigo_postal",
                     "residential units": "unidades_residenciales",
                     "commercial units": "unidades_comerciales",
                     "total units": "total_unidades",
                     "land square feet": "terreno_metros_cuadrados",
                     "gross square feet": "superficie_total",
                     "year built": "fecha_construccion",
                     "tax class at time of sale": "impuesto_al_vender",
                     "building class at time of sale": "categoria_al_vender",
                     "sale price": "precio_venta",
                     "sale date": "fecha_venta"})

In [12]:
nyc.precio_venta.describe()

count     84548
unique    10008
top         -
freq      14561
Name: precio_venta, dtype: object